.links-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.links-icons a {
  font-size: 30px;
  cursor: pointer;
}
a:nth-child(1) {
  color: #0077b5;
}
a:nth-child(2) {
  color: #181717;
}

a:nth-child(3) {
  color: #005288;
}
a:nth-child(4) {
  color: #1877f2;
}
