.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.progress-container label {
  width: 20%;
}
.progress-container .inputs {
  width: 80%;
}
.inputs {
  background-color: rgb(171, 171, 158);
  width: 90%;
  border-radius: 16px;
  height: 5px;
}
.input-hide {
  background-color: springgreen;
  width: 90%;
  height: 5px;
  border-radius: 12px;
}
